@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --heading: rgb(0, 0, 0);
    --text: rgba(0, 0, 0, 0.8);
    --border: rgba(0, 0, 0, 0.1);
    --background: #fbfbfe;
    --primary: rgba(0, 0, 255, 0.8);
    --accent: rgba(0, 0, 255, 0.6);
  }
  .dark {
    --heading: rgb(255, 255, 255);
    --text: rgba(255, 255, 255, 0.8);
    --border: rgba(255, 255, 255, 0.3);
    --background: #010104;
    --primary: rgba(0, 0, 255, 0.8);
    --accent: rgba(0, 0, 255, 0.6);
  }
}

@layer components {
  .border-common {
    @apply border border-border;
  }
  .btn-primary {
    @apply px-3 py-[6px] bg-[#010104] text-white border-common text-xs uppercase rounded-md transition;
  }
}
